<!-- Form filmography start -->
<%= form_with(model: @filmography, local: true) do |f| %>
<!-- Form filmography end -->

  <!-- Label and input for movie_id start -->
  <!-- Input for movie_id start -->
  <%= f.hidden_field :movie_id, value: @movie.id %>
  <!-- Input for movie_id end -->
  <!-- Label and input for movie_id end -->

  <!-- Label and input for director_id start -->
  <div class="form-group">
    <%= f.label :director_id %>

    <!-- Input for director_id start -->
    <%= f.collection_select :director_id, Director.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for director_id end -->
  </div>
  <!-- Label and input for director_id end -->

  <%= f.submit "Create filmography", class: "btn btn-block btn-outline-secondary" %>
<% end %>
